pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.DS_Store
var/
!test/resources/var
.\#*
*.tgz
*.rdb
/resources/public/js/compiled/**
figwheel_server.log
pom.xml
/out/
.repl
.rebel_readline_history
